<div class="jumbotron">
  <%= link_to "Enter New Data", new_drop_out_prediction_path, class: 'home-btn' %>
  <%= link_to "Manage Data", drop_out_predictions_path, class: 'home-btn' %>
  <%= link_to "Generate Report", "/reports", class: 'home-btn' %>
</div>