<div class="px-5 mx-5">
  <input type="hidden" value="reports" id="location">
  <a href="/" class="btn btn-warning btn-maroon my-3 no-print">Home</a>
  <h3>Report</h3>
  <div class="d-flex">
    <span class="mr-3"><strong>Date: </strong> <%= Date.today.strftime("%B %d, %Y") %></span><br><br>
    <span class="mr-3"><strong>Semister: </strong> <%= params['semister'] || "All" %></span><br><br>
    <span class="mr-3"><strong>School Year: </strong> <%= params['school_year'] || "All" %></span>
  </div>
  <div class="filter-container no-print mb-3">
    <label for="">School Year: </label>
    <select name="" id="school_year">
      <option value="all">All</option>
      <% @semisters.reverse.each do |school_year| %>
        <option <%= params["school_year"] != nil && school_year == params["school_year"] ? "selected" : "" %> value="<%= school_year %>"><%= school_year %></option>
      <% end %>
    </select>
    <label for="">Semester:  </label>
    <select name="" id="semister">
      <option value="all">All</option>
      <% ['1st Semester', '2nd Semester', 'Summer'].each do |school_year| %>
        <option <%= params["semister"] != nil && school_year == params["semister"].split(" ").map(&:capitalize).join(" ") ? "selected" : "" %> value="<%= school_year %>"><%= school_year %></option>
      <% end %>
    </select>
  </div>
  <div class="overflow-auto">
    <table class="table-index">
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Course</th>
          <th>Location</th>
          <th>Drop</th>
          <th>Gwa</th>
          <th>Gender</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        <% @drop_out_predictions.each do |drop_out_prediction| %>
          <tr>
            <td><%= drop_out_prediction.name %></td>
            <td><%= drop_out_prediction.year %></td>
            <td><%= drop_out_prediction.course %></td>
            <td><%= drop_out_prediction.location %></td>
            <td><%= drop_out_prediction.drop %></td>
            <td><%= drop_out_prediction.gwa %></td>
            <td><%= drop_out_prediction.gender %></td>
            <td class="<%= drop_out_prediction.action == "DROP" ? "drop" : "continue" %>"><%= drop_out_prediction.action %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <button class="btn btn-warning btn-maroon mt-3 no-print" onclick="window.print()">PRINT</button>

</div>