
<%= simple_form_for(@drop_out_prediction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :school_year, collection: @semisters.reverse, include_blank: false  %>
    <%= f.input :semister, label: "Semester", collection: ['1st Semester', '2nd Semester', 'Summer'], include_blank: false  %>
    <%= f.input :name %>
    <%= f.input :year, collection: ['1st', '2nd', '3rd', '4th', '5th', 'Others'], include_blank: false  %>
    <%= f.input :course, collection: ['BSCS', 'BSIT', 'ASSOCIT', 'ASSOCCS'], include_blank: false %>
    <%= f.input :location, collection: ["Dagupan City", "Mangaldan", "Calasiao", "Binmaley",
                         "Bugallon", "Lingayen", "San Carlos City", "Sta. Barbara", "San Jacinto", "Labrador", "Mapandan", "Malasiqui", "Manaoag", "San Fabian",
                         "Others"], include_blank: false %>
    <%= f.input :drop %> 
    <%= f.input :gwa %>
    <%= f.input :gender, collection: ['Male', 'Female'], include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning btn-maroon' %>
  </div>
<% end %>
