<div class="px-5 mx-5">
  <a href="/" class='btn btn-warning btn-maroon'>Home</a><hr>
  <input type="hidden" value="drop_out_predictions" id="location">
  <h3>Manage Data</h3>
  <div class="filter-container">
    <label for="">School Year: </label>
    <select name="" id="school_year">
      <option value="all">All</option>
      <% @semisters.reverse.each do |school_year| %>
        <option <%= params["school_year"] != nil && school_year == params["school_year"] ? "selected" : "" %> value="<%= school_year %>"><%= school_year %></option>
      <% end %>
    </select>
    <label for="">Semester:  </label>
    <select name="" id="semister">
      <option value="all">All</option>
      <% ['1st Semester', '2nd Semester', 'Summer'].each do |school_year| %>
        <option <%= params["semister"] != nil && school_year == params["semister"].split(" ").map(&:capitalize).join(" ") ? "selected" : "" %> value="<%= school_year %>"><%= school_year %></option>
      <% end %>
    </select>
  </div><br>
  
  <div class="overflow-auto">
    <table class="table-index">
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Course</th>
          <th>Location</th>
          <th>Drop</th>
          <th>Gwa</th>
          <th>Gender</th>
          <th>Prediction</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @drop_out_predictions.each do |drop_out_prediction| %>
          <tr>
            <td><%= link_to drop_out_prediction.name, drop_out_prediction %></td>
            <td><%= drop_out_prediction.year %></td>
            <td><%= drop_out_prediction.course %></td>
            <td><%= drop_out_prediction.location %></td>
            <td><%= drop_out_prediction.drop %></td>
            <td><%= drop_out_prediction.gwa %></td>
            <td><%= drop_out_prediction.gender %></td>
            <td class="<%= drop_out_prediction.action == "DROP" ? "drop" : "continue" %>"><%= drop_out_prediction.action %></td>
            <td><%= link_to 'Edit', edit_drop_out_prediction_path(drop_out_prediction), class: 'btn btn-sm btn-warning btn-maroon' %> <%= link_to 'Delete', drop_out_prediction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning btn-maroon' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>