
<div class="form-container">
  <a href="/" class='btn btn-warning btn-maroon'>Home</a><hr>
  <h3>New Drop Out Prediction</h3>
  <%= render 'form', drop_out_prediction: @drop_out_prediction, semisters: @semisters %>
</div>