<div class="px-5 mx-5">
  <p id="notice"><%= notice %></p>
  <a href="/" class='btn btn-warning btn-maroon'>Home</a><hr>

  <h3><%= @drop_out_prediction.name %></h3>
  
  <p>
    <strong>School year:</strong>
    <%= @drop_out_prediction.school_year %>
  </p>
  <p>
    <strong>Semester:</strong>
    <%= @drop_out_prediction.semister %>
  </p>
  <p>
    <strong>Year:</strong>
    <%= @drop_out_prediction.year %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @drop_out_prediction.course %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @drop_out_prediction.location %>
  </p>

  <p>
    <strong>Drop:</strong>
    <%= @drop_out_prediction.drop %>
  </p>

  <p>
    <strong>Gwa:</strong>
    <%= @drop_out_prediction.gwa %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @drop_out_prediction.gender %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= @drop_out_prediction.action %>
  </p>

  <%= link_to 'Edit', edit_drop_out_prediction_path(@drop_out_prediction), class: 'btn btn-sm btn-warning btn-maroon' %>
</div>