body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.home-btn{
  display: block;
  background-color: maroon;
  color: white;
  font-size: 30px;
  padding: 30px;
  width: 350px;
  margin: 10px auto;
  text-align: center;
  &:hover{
    background-color: gold;
    color: black !important;
    text-decoration: none;
  }
}

.btn-maroon{
  background-color: maroon;
  color: white;

  &:hover{
    background-color: gold;
    color: black !important;
    text-decoration: none;
  }
}

.form-container{
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  box-shadow: 3px 3px 10px rgb(177, 177, 177);
}

.header{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3, h4{
    text-align: center;
  }
  img{
    flex: 1;
    max-width:120px;
  }
  
}

.container{
  min-height: 80vh !important;
}

.table-index{
  width: 100%;
  border: 1px solid gray;
  th{
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 5px 10px;
  }
  td{
    padding: 5px 10px;
  }
  tbody{
    tr{
      border-bottom: 1px solid rgb(202, 202, 202);
      &:nth-child(odd){
        background-color: rgb(250, 242, 242);
      }
      &:last-child{
        border-bottom: none
      }
    }
  }
}

p{
  strong{
    display: inline-block;
    width: 80px;
  }
}

.drop{
  font-weight: bold;
  color: red
}

.continue{
  font-weight: bold;
  color: green
}

.filter-container{
  display: flex;
  align-items: center;
  label, select{
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 10px !important;;
  }
  select{
    padding: 5px !important;
  }
}

@media print
{    
    .no-print
    {
        display: none !important;
    }
}