<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container border">
      <div class="header">
        <img src="https://res.cloudinary.com/de7rctwh7/image/upload/v1576426947/1463573_588084341247119_1503055485_n-removebg-preview.png" alt="UL">
        <div class="">
          <h3>UNIVERSITY OF LUZON</h3>
          <h4><strong>COLLEGE OF COMPUTER STUDIES</strong></h4>
          <h4><strong>College Dropout Prediction</strong></h4>
        </div>
        <img src="https://res.cloudinary.com/de7rctwh7/image/upload/v1576426948/cs-logo-2.png" alt="UL">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
